@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap");

:root {
  --cor-branco: #ffffff;
  --cor-cinza-claro: #f2f2f2;
  --cor-fundo-escuro: #141c26;
  --cor-destaque: #3b6cff;

  --cor-card-dashboard: #24294d;
  --cor-card-dashboard-claro: #363d64;
  --cor-sucesso: #28a745;
  --cor-perigo: #dc3545;

  /* Cores para o Degradê */
  --cor-degrade-claro: #367aff;
  --cor-degrade-escuro: #203573;

  --cor-fundo-perfil: #e6e7ec;
}

body {
  font-family: "Inter", sans-serif;
  background-color: var(--cor-fundo-escuro);
  color: var(--cor-cinza-claro);
  min-height: 100vh;
  margin: 0;
  padding: 0;
}

.fundo-login-cadastro {
  background: linear-gradient(180deg, var(--cor-degrade-escuro) 0%, var(--cor-degrade-claro) 100%) !important;
  color: var(--cor-branco) !important;
}

.fundo-perfil {
  background-color: var(--cor-fundo-perfil) !important;
  color: #3c4043;
}

.card-form-central {
  background-color: var(--cor-branco) !important;
  border-radius: 12px;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);
  padding: 30px;
  width: 90%;
  max-width: 450px;
  color: #3c4043;
}

.btn-destaque {
  background-color: var(--cor-destaque) !important;
  border-color: var(--cor-destaque) !important;
  height: 50px;
  font-size: 1rem;
  font-weight: bold;
}

.card-base {
  background-color: var(--cor-card-dashboard);
  border-radius: 12px;
  padding: 1.5rem;
  color: var(--cor-cinza-claro);
  height: 100%;
}

.dropdown-mes {
  background-color: transparent !important;
  color: var(--cor-cinza-claro) !important;
  border: 1px solid rgba(255, 255, 255, 0.2) !important;
  border-radius: 20px !important;
  padding: 0.25rem 1rem !important;
  font-size: 1rem;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16'%3E%3Cpath fill='none' stroke='%23f2f2f2' stroke-linecap='round' stroke-linejoin='round' stroke-width='2' d='m2 5 6 6 6-6'/%3E%3C/svg%3E") !important;
  background-repeat: no-repeat !important;
  background-position: right 0.75rem center !important;
  background-size: 10px 10px !important;
}

.card-categorias {
  background-color: rgba(36, 41, 77, 0.6);
  padding: 1.5rem 1rem;
  height: 150px;
  border-radius: 12px;
  box-shadow:
    inset 2px 2px 5px rgba(0, 0, 0, 0.3),
    0 4px 8px rgba(0, 0, 0, 0.3);
  border: 1px solid rgba(255, 255, 255, 0.1);
}

.indicador-progresso-categoria {
  width: 70px;
  height: 8px;
  border-radius: 4px;
  margin-top: 15px;
  background-color: var(--cor-card-dashboard-claro);
  position: relative;
  overflow: hidden;
}

.indicador-progresso-cheio {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  background-color: var(--cor-destaque);
  border-radius: 4px;
}

.btn-acao-dashboard {
  background-color: var(--cor-destaque);
  color: white;
  width: 55px;
  height: 55px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.3rem;
  border: none;
  display: inline-block;
}

.menu-navegacao-fixo {
  background-color: var(--cor-card-dashboard);
}

.btn-flutuante-menu {
  background-color: var(--cor-destaque);
  transform: translateY(-25%);
  width: 60px;
  height: 60px;
  border-radius: 50%;
  padding: 0;
  border: none;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
}


.botoes-flutuantes {
  position: absolute;
  bottom: 80px;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  gap: 25px;
  opacity: 0;
  pointer-events: none;
  transition: all 0.3s ease;
}

.botoes-flutuantes.ativo {
  opacity: 1;
  pointer-events: all;
  bottom: 150px;
}

.btn-entrada-flutuante,
.btn-saida-flutuante {
  width: 55px;
  height: 55px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.8rem;
  color: white;
  border: none;
  transition: transform 0.3s ease, opacity 0.3s ease;
  text-decoration: none;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.3);
}


.btn-entrada-flutuante {
  background-color: var(--cor-sucesso);
}

.btn-saida-flutuante {
  background-color: var(--cor-perigo);
}

.btn-entrada-flutuante:hover,
.btn-saida-flutuante:hover {
  transform: scale(1.1);
}

/* MARCAÇÃO LAIS*/

.colunas {
  display: flex;
  flex-grow: 1;
  height: 400px;
  padding: 1.5rem;
  min-height: calc(100vh - 200px);
  border-radius: 12%;

  & .clouna-esquerda {
    flex: 1;
    background-color: var(--cor-cinza-claro);
    height: 100%;
    border-radius: 12% 0 0 12%;
    /*padding: 20px;*/
  }

  & .clouna-direita {
    flex: 1;
    background-color: var(--cor-branco);
    height: 100%;
    border-radius: 0 12% 12% 0;

  }
}

.saldo-conta {
  font-size: 15px;
  font-weight: normal;
  margin-top: 10px;
  max-width: 450px;
  margin: 10px auto;
  text-align: center;
}

.texto-conta {
  background-color: var(--cor-card-dashboard);
  border-radius: 33px;
  padding: 10px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  max-width: 450px;
  margin: 5px auto;


  & .texto-dois {
    font-size: 12px;
    padding-right: 100px;
  }

  & h1 {
    font-size: 12px;
    padding-right: 20px;
  }
}

.texto-informacoes {
  background-color: var(--cor-card-dashboard);
  border-radius: 33px;
  padding: 20px;
  text-align: left;
  max-width: 400px;
  margin: -21px auto;

  & p {
    font-size: 10px;
  }
}

.botoes-direita {
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 33px;
  margin: 100px;
  padding: 50px;
  max-width: 400px;



  .fundo-btn {
    background-color: var(--cor-card-dashboard);
  }


  & h1 {
    color: var(--cor-card-dashboard);
    font-size: 16px;
    padding-right: 20px;
    text-align: center;
  }

}

.form-edicao {
  align-items: center;
  margin: 20px;
  padding: 50px;
  max-width: 100%;
  margin: 0 auto;
  text-align: center;


  small {
    color: #141c26;
    color: var(--cor-card-dashboard);
    font-size: 16px;
    display: block;
    width: 100%;
  }

  & .btn-atualizar {
    background-color: var(--cor-card-dashboard);
  }

}

/* MARCAÇÃO GABI*/

.transacao-page {
  background: var(--cor-degrade-escuro) !important;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  flex-direction: column;
}

.cabecalho-transacao {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  width: 100%;
  margin-bottom: 3rem;
}

.link-arrow {
  position: absolute;
  left: 20px;
  text-decoration: none;
  color: inherit;
}

.transacao-arrow {
  left: 20px;
  font-size: 1.5rem;
  color: var(--cor-cinza-claro);
  cursor: pointer;
}

.transacao-page p {
  opacity: 70%;
  font-weight: semibold;
  margin-bottom: 0;
  margin-top: 2rem;
  margin-left: 0.9rem;
}

.titulo-transacao {
  font-size: 1rem;
  font-weight: 600;
  text-align: center;
  letter-spacing: 0.3px;
  margin: 0;
}

.transacao-page form {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  max-width: 300px;
  gap: 1rem;
  padding: 15px;
}

.campoForm {
  background-color: white;
  border: 1px solid rgba(255, 255, 255, 0.15);
  border-radius: 12px;
  padding: 0.8rem 1rem;
  margin-bottom: 1.2rem;
  width: 100%;
  max-width: 350px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  transition: all 0.3s ease;
}

.campoForm input,
.campoForm select {
  background: transparent;
  border: none;
  color: #3c4043;
  width: 30vh;
  font-size: 1rem;
  outline: none;
  cursor: pointer;
}

.btn-transacao {
  border: none;
  border-radius: 8px;
  color: var(--cor-branco);
  padding: 0.9rem;
  width: 100%;
  font-weight: bold;
  font-size: 1rem;
  cursor: pointer;
  transition: transform 0.2s ease, opacity 0.2s ease;
}

.btn-transacao:hover {
  transform: translateY(-2px);
  opacity: 0.9;
}

.input-valor {
  margin-top: 0;
  background: transparent;
  border: none;
  color: white;
  font-size: 2rem;
  width: 100px;
  text-align: center;
  outline: none;
}

/* Remove as setinhas do input type="number" */
.input-valor::-webkit-inner-spin-button,
.input-valor::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.transacao-header {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1000;
}